* {
    margin: 0;
    padding: 0;
    font-family: "poppins";
}

body {
    background-color: black;
    color: white;
    min-height: 100vh;
    line-height: 1.5;
}

.container {
    width: 100vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.image-gradient {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -2;
}

.layer-blur {
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 20px white;
    rotate: -30deg;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.home {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.logo img {
    height: 3rem;
}

.logo h1 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
}

nav {
    gap: 4rem;
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: inherit;
    transition: color ease 0.2s;
    font-size: 1.1rem;
    z-index: 999;
}

nav a:hover {
    color: #a7a7a7;
}

.sign-in-btn {
    width: 9rem;
    height: 3rem;
    background-color: #a7a7a7;
    border-radius: 1.5rem;
    border: none;
    transition: background-color ease 0.2s;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    z-index: 1000;
}

.sign-in-btn:hover {
    background-color: white;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 0.1rem);

}

.content {
    max-width: 50rem;
    margin-left: 5%;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.tag-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 3rem;
    background: linear-gradient(to right, #09bcc9, #08008a, #b467ee, #b467ee, #08008a, #09bcc9);
    font-size: 1.1rem;
    border-radius: 50px;
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px white;
}

@keyframes animationGradient {
    to {
        background-position: 200%;
    }
}

.tag-box .tag {
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.2s;
    cursor: pointer;
    z-index: 998;
}

.tag-box .tag:hover {
    color: #b467ee;
}

.content h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 1.5rem 0;
    letter-spacing: 0.3rem;
    text-shadow: 0 0 5px rgb(104, 104, 104);
}

.description {
    font-size: 1.05rem;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    color: grey;
}

.buttons {
    margin-top: 1.5rem;
}

.buttons button {
    background-color: transparent;
    border: 0.8px solid #b367ee36;
    color: #b367ee69;
    width: 12rem;
    height: 3.2rem;
    border-radius: 50px;
    margin: 0 0.5rem;
    transition: ease 0.2s;
    cursor: pointer;
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
    padding: auto 0.5rem;
    font-weight: 500;

}

.buttons .get-started-btn {
    position: relative;
    z-index: 1002;
    border: none;
    background-color: white;
    color: #000000;
}

.buttons .get-started-btn:hover {
    background-color: rgb(211, 211, 211);
}

.buttons .documentation:hover {
    color: rgb(197, 197, 197);
    background-color: rgba(192, 192, 192, 0.404);
}

.ai-avatar {
    position: absolute;
    top: 10%;
    right: -25%;
    z-index: -1;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.ai-hidden {
    opacity: 0;
    transform: translatex(6em);
}

.content-hidden {
    opacity: 0;
    transform: translatex(-6em);
}

.voice-section {
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    transform: scale(0.2);
    transition: transform 0.8s ease-in, opacity 0.8s ease-in;
}

.blob {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.blob div:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#6b72ff00 50%, #000dff3b 40%);
    box-shadow: 0 0 50px rgb(25, 0, 255), inset 0 0 50px rgb(25, 0, 255);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: blob-rotate1 6s linear infinite;
}

.blob div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(25, 0, 255, 0.99) 100%);
    box-shadow: 0 0 50px rgb(25, 0, 255), inset 0 0 50px rgb(25, 0, 255);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: blob-rotate2 6s linear infinite;
}

.blob div:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#6b72ff00 50%, #000dff3b 40%);
    box-shadow: 0 0 50px rgb(25, 0, 255), inset 0 0 50px rgb(25, 0, 255);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: blob-rotate3 6s linear infinite;
}

@keyframes blob-rotate1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes blob-rotate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes blob-rotate3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.voice-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.voice-btns button {
    width: 8rem;
    height: 3rem;
    border-radius: 50px;
    font-size: 1rem;
}

@media (max-width: 1300px) {
    header {
        padding: 0.5rem 3rem;
    }

    .content {
        margin-top: 60%;
        margin-left: 15%;
    }

    .ai-avatar {
        width: 100rem;
        height: 90rem;
        scale: 0.4;
        top: -25%;
        left: 0;
        transform: translateX(-55%);
    }

    .blob {
        width: 10rem;
        height: 10rem;
    }

    .voice-btns button {
        width: 8rem;
        height: 3rem;
        font-size: 1rem;
    }

    nav {
        gap: 2.5rem;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    .logo {
        width: 100px;

    }

    .logo img {
        height: 1.7rem;
    }

    .logo h1 {
        font-size: 1rem;
    }

    .sign-in-btn {
        width: 6rem;
        height: 2.3rem;
        font-size: 0.8rem;
    }

    .content {
        margin-top: 100%;
        max-width: 20rem;
    }

    .content h1 {
        font-size: 1rem;
    }

    .tag-box {
        width: 10rem;
        font-size: 0.8rem;
    }

    .description {
        font-size: .8rem;
    }

    .buttons button {
        font-size: 0.5rem;
        width: 8rem;
        height: 2rem;
    }

    .ai-avatar {
        scale: 0.4;
        width: 48rem;
        height: 54rem;
        top: -20%;
        right: -40%;
    }

    .blob {
        width: 12rem;
        height: 12rem;
    }

    .voice-btns button {
        height: 3.5rem;
        width: 9.5rem;
        font-size: 1rem;
    }

    .home {
        display: block;
    }

    .home img {
        width: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .blob {
        width: 14rem;
        height: 14rem;
    }
}